body {
    background: black;
    height: 100vh;
    position:absolute;
    overflow: hidden;
}
.box {
    border: 1px solid white;
    width: 1600px;
    height: 900px;
    overflow: hidden;
    clip-path: border-box;
}
.box-text {
    color: white;
    display:flex;
}
.box-text > div {
margin-right: 25px;
}
.box-text p {
    margin: 0;
}
.box-text h2 {
    margin-bottom: 5px;
}
#char_position {
    position: absolute;
    transform: translate(800px, 450px);
    max-width: 16px;
    max-height: 49px;
}
#char_rotate {
    transform: rotate(0deg);
    max-width: 16px;
    max-height: 49px;
}
.char-tri {
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #00ff15;
}
.char-body {
    background: #54b4ff;
    height: 25px;
    width: 16px;
    z-index: 4;
    position:relative;
}
.char-booster {
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #e07fff;
    margin-top: -8px;
    z-index: 3;
    position:relative;
}
.asteroid {
    position: absolute;
    transform: translate(-1000px);
}
.asteroid div {
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    background: red;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.laser {
    position: absolute;
    transform: translate(-2000px);
}
.laser div {
    transform: rotate(0deg);
    width: 5px;
    height: 20px;
    background: #f9ff00;
    box-shadow: 0 0 8px red;
}
.dead {
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 35px;
}
.dead h1 {
    font-size: 137px;
}